{
    "root": true,
    "env": {
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "no-empty": 1,
        "no-empty-function": 1,
        "no-console": 0,
        "no-alert": 2
    },
    "parserOptions": {
        "parser": "babel-eslint",
        "sourceType": "module",
        "ecmaVersion": 2015
    }
}